html {
  box-sizing: border-box;
}

body {
  background: #111620;
  color: #fff;
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 640px;
  margin: auto;
  padding: 2em 1em;
}
.card {
  text-align: center;
}
.card .metric {
  padding: 3em 0;
  background: linear-gradient(246.26deg, #172346 0%, #3d6be6 100%);
}

.card .metric .title {
  margin-top: 0;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.5px;
}
.card .metric input {
  color: #fff;
  font-size: 32px;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0.5em;
  text-align: center;
  outline: none;
  width: 40%;
  cursor: pointer;
}

@media (max-width: 600px) {
  .card .metric input {
    width: 65%;
  }
}

.card .metric input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  font-size: 16px;
  opacity: 1; /* Firefox */
}
.card .metric input:focus::placeholder {
  color: transparent;
}

.card .results {
  padding: 1em;
  background: #1f2937;
}

.card .results .results-item {
  margin-bottom: 1.5em;
}

.card .results .results-item .unit-title {
  font-weight: 700;
}
